<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glemt kodeord</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rochester&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="login-parent">
    <div class="login-container">
      <h1>Glemt adgangskode</h1>

      {% if message %}
      <p class="success-message">{{ message }}</p>
      {% if redirect_back %}
      <a class="forgot-btn" href="{{ url_for('login') }}">Tilbage til login</a>
      {% endif %} {% endif %} {% if not redirect_back %}
      <form
        method="POST"
        action="{{ url_for('forgot_password') }}"
        class="login-form"
      >
        <label for="email">Indtast din email:</label>
        <input type="email" name="email" id="email" required />
        <input type="submit" value="Send nulstillingslink" class="login-btn" />
      </form>
      {% endif %}
    </div>
  </body>
</html>
