<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Rochester&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
    <title>Login</title>
  </head>
  <body class="login-parent">
    <div class="login-container">
      <h1>Log ind</h1>

      {% if error %}
      <p class="error-message">{{ error }}</p>
      {% endif %}

      <form class="login-form" action="{{ url_for('login') }}" method="POST">
        <label for="username">Brugernavn</label>
        <input type="text" name="username" id="username" required />

        <label for="password">Adgangskode</label>
        <input type="password" name="password" id="password" required />

        <input type="submit" value="Log ind" class="login-btn" />
      </form>

      <form
        action="{{ url_for('forgot_password') }}"
        method="GET"
        class="forgot-form"
      >
        <button type="submit" class="forgot-btn">
          Har du glemt dit kodeord?
        </button>
      </form>
    </div>
  </body>
</html>
